services:
  api:
    build:
      context: ..
      dockerfile: docker_setup/api.Dockerfile
    environment:
      API_HOST: ${API_HOST?Missing API_HOST}
      API_PORT: ${API_PORT?Missing API_PORT}
    ports:
      - "${API_PORT?Missing API_PORT}:${API_PORT?Missing API_PORT}"
    volumes:
      - ../app_data:/app/app_data
    networks:
      - appium_helper_net

  web:
    build:
      context: ..
      dockerfile: docker_setup/web.Dockerfile
    depends_on:
      - api
    environment:
      API_HOST: ${API_HOST?Missing API_HOST}
      API_PORT: ${API_PORT?Missing API_PORT}
      WEB_HOST: ${WEB_HOST?Missing WEB_HOST}
      WEB_PORT: ${WEB_PORT?Missing WEB_PORT}
    ports:
      - "${WEB_PORT?Missing WEB_PORT}:${WEB_PORT?Missing WEB_PORT}"
    networks:
      - appium_helper_net

networks:
  appium_helper_net:
    name: appium_helper_net
    driver: bridge
